@import '../../fonts.css';

#footer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
à
.Footer {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
}

.mainBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #4791ea;
    padding-bottom: 32px;
}

.Footer p {
    font-family: 'Product Sans';
}

.logo-footer {
    margin-left: 5px;
    height: 24px;
}

.lowerFooter {
    display: flex;
    margin-top: auto;
    height: 40px;
    width: 100%;
    background-color: #2874cc;
}

.lowerFooterContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 98%;
}

.lowerFooterBox {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    line-height: 22px;
    color: #fff;
    width: 100%;
}

.copyrightIcon {
    font-size: 20px;
}

.footerText {
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
    display: flex;
}