@import '../../fonts.css';

#footer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Footer {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
}

.mainBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: #4791ea;
    padding-bottom: 32px;
}

.subBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 32px;
    min-width: 300px;
    width: 28%;
    color: #fff;
}

.subBlock i {
    font-size: 16px;
}

.subBlock p {
    margin-top: 0;
}

.blockTitle {
    height: 32px;
    display: flex;
    margin-bottom: 16px;
}

.blockTitle p {
    display: flex;
    margin: auto;
    margin-left: 0;
    font-size: 24px;
}

.blockList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.blockListElem {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
}

.blockListElemSocial {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    line-height: 48px;
    margin-bottom: 5px;
}

.blockListElemSocial p {
    margin: 0;
    margin-left: 12px;
}

.blockListElem p {
    margin: 0;
    margin-left: 5px;
}

.Footer p {
    font-family: 'Product Sans';
}

.logo-footer {
    margin-left: 5px;
    height: 24px;
}

.lowerFooter {
    display: flex;
    margin-top: auto;
    height: 40px;
    width: 100%;
    background-color: #2874cc;
}

.lowerFooterContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 98%;
}

.lowerFooterBox {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    line-height: 22px;
    color: #fff;
    width: 100%;
}

.copyrightIcon {
    font-size: 20px;
}

.footerText {
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
    display: flex;
}

.iconBackground {
    padding: 16px;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
}

.iconBackground:hover {
    -webkit-box-shadow: 0px 0px 16px -6px rgba(31,31,31,1);
    -moz-box-shadow: 0px 0px 16px -6px rgba(31,31,31,1);
    box-shadow: 0px 0px 16px -6px rgba(31,31,31,1);
}

.discord { background-color: #7289da; }
.facebook { background-color: #3e5b98; }
.twitter { background-color: #4da7de; }
.linkedin { background-color: #3371b7; }