#headerRoot {
  height: 100vh;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.Header {
    text-align: center;
    height: 100%;
    transition: 0.3s;
}

.App-logo {
    max-width: 100%;
    height: 300px;
    width: 95%;
    pointer-events: none;
    margin: auto;
    transition: 0.3s;
}

.App-header {
    background: #fff;
    min-height: 100%;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    -webkit-box-shadow: 0px -4px 10px 1px rgba(31,31,31,1);
    -moz-box-shadow: 0px -4px 10px 1px rgba(31,31,31,1);
    box-shadow: 0px -4px 10px 1px rgba(31,31,31,1);
}

#icon-down-scroll {
    margin-bottom: 20px;
    font-size: 32px;
    color: #179BEF;
}